<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Image processing server v.{{ params['version'] }}</title>
</head>
<body>

    <h1>Image processing server v.{{ params['version'] }}</h1>
    <h3>Usage</h3>
        POST requset:<br>
        http://server/process/<br>
    <h3>example json:</h3>
        [{'name': 'grayscale', 'options': []},<br>
        {'name': 'rotate', 'options': [90]},<br>
        {'name': 'mirror', 'options': []},<br>
        {'name': 'filter', 'options': ['find_edges']},<br>
        {'name': 'rotate', 'options': [90]},<br>
        {'name': 'invert', 'options': []},<br>
        {'name': 'text', 'options': ['(145, 230)', 'tornado IPS demo ^^', '#000']},<br>
        {'name': 'save', 'options': ['file.png']}]<br>
    <h3>Actions describtion</h3>
    This is http wrapper for python image processing library<br>
    <a href='http://effbot.org/imagingbook/pil-index.htm#module-reference'>Source there</a>
        {% if params['storage_mode'] %}
            <h3>Results</h3>
            You can get result images like this:<br>
            http://server/getimg/[myimage.png]
        {% end %}
    <h3>Evolution</h3>
    <a href='http://github.com/Sulverus/tornado-ips'>github.com</a>
<!-- Andrey Drozdov 2013(C)-->
</body>
</html>